  #para2_vid{
  margin : 20px; 
}
  #para1_vid{
    margin : 20px; 
  }
  body{
      text-align: center;
      background-color: aquamarine;
  }
  #show_para_1{
      font-size: 30px;
      color: blue; 
    }
  #show_para_2{
        font-size: 30px;
        color: blue; 
      }
